<div class="page-header">
  <h3>Industry Preference : <%= @industry_preference.industry.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Industry</dt>
      <dd> <%= @industry_preference.industry.name %></dd>

      <dt>Notes</dt>
      <dd><%= @industry_preference.classification %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/industry_preferences" class="btn btn-primary">
        Back
      </a>
      <a href="/industry_preferences/<%= @industry_preference.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_industry_preference/<%= @industry_preference.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
