<div class="page-header">
  <h3>Requirement #<%= @requirement.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Job</dt>
      <dd><%= @requirement.job_id %></dd>

      <dt>Skill</dt>
      <dd><%= @requirement.skill_id %></dd>

      <dt>Use case</dt>
      <dd><%= @requirement.use_case %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/requirements" class="btn btn-primary">
        Back
      </a>
      <a href="/requirements/<%= @requirement.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_requirement/<%= @requirement.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
