<div class="page-header">
  <h1>
    My Posted Jobs
    <a href="/jobs/new" class="btn btn-lg btn-success">New Job</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Job type</th>
        <!--<th>Candidate Matches</th>-->
        <th>Actions</th>
      </tr>

      <% current_recruiter.jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.company.name %></td>
        <td><%= job.location %></td>
        <td><%= job.job_type.name %></td>
        <!--<td><#%= CANDIDATES THAT FIT HERE %></td>-->
        
        <td>
          <a href="/jobs/<%= job.id %>" class="btn btn-primary">Show</a>
          <a href="/jobs/<%= job.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_job/<%= job.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
