<!-- Validation failure messages -->
<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Company</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_company" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @company.name %>">
      </div>

      <!-- Label and input for logo -->
      <div class="form-group">
        <label for="logo" class="control-label">
          Logo
        </label>

        <input type="text" id="logo" name="logo" placeholder="Logo" class="form-control" value="<%= @company.logo %>">
      </div>

      <!-- Label and input for hq_address -->
      <div class="form-group">
        <label for="hq_address" class="control-label">
          Hq address
        </label>

        <input type="text" id="hq_address" name="hq_address" placeholder="Hq address" class="form-control" value="<%= @company.hq_address %>">
      </div>

      <!-- Label and input for industry_id -->
      <div class="form-group">
        <label for="industry_id" class="control-label">
          Industry
        </label>
        <%= select_tag("industry_id", options_from_collection_for_select(Industry.all, :id, :name), :class => "form-control") %>
        <!--<input type="text" id="industry_id" name="industry_id" placeholder="Industry" class="form-control" value="<#%= @company.industry_id %>">-->
      </div>

      <button class="btn btn-success">
        Create Company
      </button>
      or
      <a href="/companies">Cancel</a>
    </form>
  </div>
</div>
